.character-grid {
  display:grid; 
  gap:1.5rem;
  grid-template-columns:repeat(auto-fit,minmax(240px,1fr));
  cursor: pointer;
}

.character-grid img{ 
  width:100%;
  height: 100%;
  object-fit: cover;
}



/* Character */

/* ─── Page-specific tweaks ───────────────── */

.news-page  .hero { 
  background-image:url("../../image/chara_thumb1.jpg"); 
}
.intro-page .hero { 
  background-image:url("../../image/chara_thumb2.jpg"); 
}
.staff-page .hero { 
  background-image:url("../../image/chara_thumb3.jpg"); 
}
.char-page .hero { 
  background-image:url("../../image/chara_thumb4.jpg"); 
}

.char-page nav { 
  background:#8c1aff; 
}
body.dark.char-page nav { 
  background:#b673ff; 
}

.staff-page { 
  background:#fff9ec; 
}
body.dark.staff-page { 
  background:#2b2518; 
}

.news-page h2 { 
  color:#d35400; 
}

/*Character Modal */
